body{
    display: flex;
    height: 100vh;
}

/* Parent containers for page layout */
.leftContainer {
    width: 35vw;
    background-color: lightblue;
}

.rightContainer {
    width: 65vw;
    display: flex;
    flex-direction: column;
    background-color: lightcoral;
}

/* Child container styles within rightContainer */
.textContainer {
    flex: 1;
    background-color: lightgreen;
}

.signupContainer {
    flex: 2;
    background-color: lightyellow;
    display: flex;
    align-items: center;
}

.buttonContainer {
    flex: 1;
    background-color: lightgray;
}

/* Form styles */

form{
    margin: 3em;
}

section{
    display: grid;
    gap: 2em;
    grid-template-columns: 1fr 1fr;
    margin: 0;
    padding: 0;
}

label {
    display: block;
}

p label{
    width: 100%;
}