html{
    font-family: "Poppins", sans-serif;
}

body{
    display: flex;
    height: 100vh;
}

/* Parent containers for page layout */
.leftContainer {
    width: 35vw;
    background-color: lightblue;
}

.rightContainer {
    width: 65vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    background-color: lightcoral;
}

/* Form styles */

form{
    background-color: chocolate;
    padding: 3em 1em;
}

section{
    display: inline-grid;
    gap: 2em;
    grid-template-columns: 1fr 1fr;
    margin: 0;
    padding: 0;
    max-width: 65vw;
}

label {
    display: block;
}

label strong span {
    color: red;
}

input{
    padding: 0 0.256em;
    border-style: solid;
    border-radius: 0.45em;
    border-color: black;
}

input:invalid:not(:placeholder-shown) {
    border-color: red;
}